<div class="mb-4">
    <h3 class="font-semibold text-xl mb-4">Create a post</h3>
    <EditForm Model="@_post" OnValidSubmit="@HandleValidSubmit">
        <InputTextArea class="form-textarea w-5/6 bg-gray-900 mr-5 rounded-xl" placeholder="What is on your mind?" rows="@_rows"
                       @bind-Value="@_post.Body"
                       @onclick="@(() => _rows = "4")" @onfocusout="@(() => _rows = "2")">
        </InputTextArea>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full align-top mt-4"
                type="submit">
            Post
        </button>
    </EditForm>
</div>

@code {

    [Inject]
    public IPostService? PostService { get; set; }

    [Inject]
    public AuthService? AuthService { get; set; }
    
    [Parameter]
    public EventCallback<PostDto> OnPostCreated { get; set; }

    private CreatePostDto _post = new CreatePostDto();
    private string _rows = "2";


    private async Task HandleValidSubmit()
    {
        if (AuthService == null || PostService == null)
            return;

        var user = await AuthService.GetCurrentUser();

        if (user == null)
            return;

        _post.UserId = Guid.Parse(user.GetUserId());
        var post = await PostService.CreatePost(_post);

        await OnPostCreated.InvokeAsync(post);
        
        _post = new CreatePostDto();
    }

}