@page "/posts/{id:guid}"


<div class="lg:grid lg:grid-cols-4">
    <div class="lg:col-span-3">
        @if (_post != null)
        {
            <div class="post-container mb-4 w-5/6 mx-auto">
                <SinglePost PostDto="@_post" UserId="@UserId" OnDelete="OnPostDeleted"/>
                <CommentForm PostId="@Guid.Parse(_post.Id)" OnCommentCreated="OnCommentCreated"/>
            </div>

            @if (_post.Comments != null && _post.Comments.Any())
            {
                @foreach (var comment in _post.Comments)
                {
                    <div class="w-4/6 mx-auto">
                        <SingleComment 
                            CommentDto="@comment" 
                            UserId="@UserId" 
                            OnDelete="@OnCommentDeleted" 
                            InReplyTo="@_post.User.Username"/>
                    </div>
                }
            }
        }
        else
        {
            <p>Loading...</p>
        }
    </div>
    <div>
        <Featured></Featured>
    </div>
</div>